
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=DotGothic16&family=Roboto&display=swap');

:root {
    --background-blue: #95A3EF;
    --grey-placeholder: #595858;
    --google-button: #FFFFFF;
    --background-sand: #FCF2D8;
    --background-beige: #FDF8EA;
    --background-lightblue: #F1F6FD;
    --background-orange: #F6D274;
}

.pageSection{
    background-color: var(--background-blue);
    background-size: cover;
    position: absolute;
    height: fit-content;
    min-height: 100%;
    width: 100%;
}

.headParagraph{
    font-family: 'DotGothic16', sans-serif;
    font-size: 2.2rem;
    font-weight: 200;
    
}

.secondParagraph{
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.5rem;
}

.tamersContainer{
    background-color: var(--background-blue);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    max-height: 35%;
    /* margin-top: 0%;
    margin-bottom: 0%; */
}

.tamersMainImages{
    bottom: 0px;
    max-width: 32%;
    position: absolute;
}

.mainButton {
    background-color: var(--background-orange);
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
    border-color: #ABABAB;
    border-radius: 8px;
    align-self: center;
    width: 63%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    align-items: baseline;
}

/* TODO: Check link options for multiple CSS archives */

/* *LoginElements */
.loginElements{
    background-color: var(--background-lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
}
.loginElements a {
    color: black;
    text-decoration: none;
}

.imageButton {
    max-height: 70%;
    padding-right: 5%;
    padding-top: 1%;
    align-self: baseline;
}

.googleButton {
    background-color: var(--google-button);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    border-color: #ABABAB;
    border-radius: 8px;
    align-self: center;
    width: 63%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}



/* * UserLogin */
.userLoginElements {
    background-color: var(--background-lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    padding-top: 0.5%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
}

.loginForm {
    margin-top: 0%;
}

.userLoginElements input {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: var(--grey-placeholder);
    background-color: var(--background-sand);
    border: none;
    border-radius: 8px;
    width: 60%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.userLoginElements a {
    color: black;
    text-decoration: none;
}

/* *Register */
.registerElements {
    background-color: var(--background-lightblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    border: 0;
    border-radius: 8px;
    padding-top: 0.5%;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
}

.registerElements input {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    color: var(--grey-placeholder);
    background-color: var(--background-sand);
    border: none;
    border-radius: 8px;
    width: 60%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
}

.registerElements a {
    color: black;
    text-decoration: none;
}

.or {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.2rem;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 2%;
}

/* *DashboardNotes */
.DashboardNotes {
    margin-top: 15%;
}

.headerContent {
    background-color: #6D82F5;
    display: flex;
    width: 100%;
    max-height: 80%;
    justify-content: space-around;
    align-items: center;
}

.digiviceContainer {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 30%;
    max-height: 30%;
}

.digiviceImage {
    height: 12vh;
    max-height: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logoutButton {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: var(--background-sand);
    border-color: #ABABAB;
    border-radius: 6px;
    width: 10%;
    cursor: pointer;
}

.noteCreatingBox {
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: fit-content;
    margin-top: 3%;
    margin-bottom: 5%;
}

.inputTitle {
    background-color: var(--background-lightblue);
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    width: 20rem;
    height: fit-content;
}

.inputContent {
    background-color: var(--background-lightblue);
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    width: 20rem;
    height: fit-content;
}

.createButton {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    background-color: var(--background-orange);
    border-color: #ABABAB;
    border-radius: 6px;
}

/* *Notes */
.notesContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.note {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.noteTitleBox {
    background-color: var(--background-sand);
    width: 70%;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.noteTitleParagraph {
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.3rem;
}

.noteContentBox {
    background-color: var(--background-beige);
    width: 70%;
    height: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.noteContentParagraph {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
}

.noteButtonsBox {
    background-color: var(--background-beige);
    width: 70%;
    height: fit-content;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
}

/* *Edit Notes */

.editSection {
    margin-top: 3%;
}

.editSection button {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2rem;
    border-color: #ABABAB;
    border-radius: 6px;
}

.saveBtn {
    background-color: var(--background-orange);
    padding-left: 4%;
    padding-right: 4%;
}

.cancelBtn {
    background-color: var(--background-sand);
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.editFooter {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
}